@model IEnumerable<AgenteMarketingTeste.Models.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProduto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdutoId">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdutoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
